/* 

QWidget{
    border: 1px solid black;
} */


FieldersGridView > QLabel{
    /* border: 1px solid black; */
    font-weight:500;
    font-size:12px;
}


QLabel#text_title{
    font-size: 26px;
    font-weight: 500;
}